<!DOCTYPE html>
<html>
  <head>
    <title>Compose a note</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <header class="mb-2">
      <h1>Micropub Client</h1>
    </header>
    <main class="container">
        <label for="in-reply-to" class="d-block mb-1">In reply to</label>
        <input name="in-reply-to" id="in-reply-to" class="d-block full-width mb-2"/>
        <label for="note" class="d-block mb-1">Note content</label>
        <textarea name="note" id="note" class="d-block full-width mb-2" style="height: 80px" autofocus></textarea>
        <button type="submit" class="primary">Post note</button>
      </form>
    </main>
  </body>
</html>
